# Игнорирование папки с временными копиями
library-components/History/

# Игнорирование файла с логами
library-components/debug.log

# Игнорирование скомпилированных библиотек
*.IntLib

# Игнорирование отчетов и логов AD
*.htm
*.html